* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  text-align: center;
  margin: 10px;
  font-size: 1.3rem;
  font-family: sans-serif;
  background-color: #8d8dd3;
  min-width: 30rem;
}
header {
  color: #ebebfb;
  margin: 2rem;
}
.container {
  background-color: #e2e2f9;
  color: black;
  border-radius: 5px;
  padding: 2rem;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
#description {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
input[name="fullname"],
input[type="email"],
.list-menu,
textarea {
  width: 90%;
}
.labels {
  display: flex;
  font-weight: bold;
  margin: 0 auto;
  font-size: 1.6;
  width: 60%;
  margin-bottom: 0.25rem;
}
.answers {
  display: flex;
  margin: 0 auto;
  width: 60%;
  column-gap: 0.5rem;
  text-align: left;
  margin-bottom: 2.5rem;
  align-items: center;
}

.checkbox li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.75rem;
}
.checkbox li:last-child {
  margin-bottom: 0;
}
textarea,
#name,
#email,
#number,
.list-menu {
  resize: none;
  padding: 0.5rem;
}
input[type="submit"] {
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #b8b8f0;
  margin-bottom: 0.75rem;
  height: 4rem;
  width: 12rem;
  border-radius: 5px;
  border: none;
}
input[type="submit"]:hover {
  color: white;
  background-color: #5b5bda;
  transition: background-color 0.3s;
}

@media (max-width: 500px) {
  body {
    font-size: 0.8em;
  }
  .labels {
    width: 100%;
    text-align: left;
    vertical-align: left;
  }
  .rightside {
    margin: 0px 0px 0px 9px;
    width: 100%;
    vertical-align: left;
  }
}
